@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header nav {
  width: 100%;
  padding: 26px;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: rgb(4, 23, 36);
  z-index: 2;
  box-shadow: 1px 7px 68px -22px rgba(0, 0, 0, 0.9);
}

header nav ul {
  list-style: none;
}

header a {
  color: white;
  text-decoration: none;
}

header .logo {
  font-size: 1.4rem;
}

aside {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(4, 23, 36);
  z-index: 1;
  box-shadow: 1px 7px 68px -22px rgba(0, 0, 0, 0.9);
}

aside nav ul {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
}

aside ul a {
  height: 100%;
  padding: 20px 90px;
  display: block;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

aside ul a:hover {
  background-color: #142945;
}

aside ul a:before {
  position: absolute;
  left: 50px;
}

aside ul a.dashboard_icone:before {
  content: url("../images/dashboard.svg");
}

aside ul a.aluno_icone:before {
  content: url("../images/aluno.svg");
}

aside ul a.professor_icone:before {
  content: url("../images/professor.svg");
}

aside ul a.disciplina_icone:before {
  content: url("../images/disciplina.svg");
}

.container {
  height: 100lvh;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 210, 223);
}

.aviso {
  width: 100%;
  padding: 10px;
  display: none;
  position: absolute;
  top: 80px;
  font-weight: 600;
  justify-content: center;
  transition: all 2.8s;
}

.aviso.sucesso {
  display: flex;
  background-color: #35b44e;
  color: #000;
}

.aviso.erro {
  display: flex;
  background-color: #b43535;
  color: #fff;
}

.formulario_aluno {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 23, 36);
  box-shadow: 5px 10px 15px 4px rgba(21, 21, 21, 0.3);
  border-radius: 5px;
}

h1 {
  margin-bottom: 30px;
  color: white;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 2px;
  outline: none;
}

form .emails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .emails .row {
  display: flex;
  gap: 10px;
}

form .emails .row input {
  width: 100%;
}

form a {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  background-color: #356cb4;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

form a:hover {
  background-color: #4f8ee0;
}

button {
  padding: 10px;
  background-color: #356cb4;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  background-color: #4f8ee0;
}
