@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header nav {
  width: 100%;
  padding: 26px;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: rgb(4, 23, 36);
  z-index: 2;
  box-shadow: 1px 7px 68px -22px rgba(0, 0, 0, 0.9);
}

header nav ul {
  list-style: none;
}

header a {
  color: white;
  text-decoration: none;
}

header .logo {
  font-size: 1.4rem;
}

aside {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(4, 23, 36);
  z-index: 1;
  box-shadow: 1px 7px 68px -22px rgba(0, 0, 0, 0.9);
}

aside nav ul {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
}

aside ul a {
  height: 100%;
  padding: 20px 90px;
  display: block;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

aside ul a:hover,
a.active {
  background-color: #142945;
}

aside ul a:before {
  position: absolute;
  left: 50px;
}

aside ul a.dashboard_icone:before {
  content: url("../images/dashboard.svg");
}

aside ul a.aluno_icone:before {
  content: url("../images/aluno.svg");
}

aside ul a.professor_icone:before {
  content: url("../images/professor.svg");
}

aside ul a.disciplina_icone:before {
  content: url("../images/disciplina.svg");
}

table {
  width: 100%;
  margin-bottom: 40px;
  background-color: #142945;
  color: #fff;
}

table th {
  padding: 8px;
}

table td {
  padding: 10px;
  background-color: rgb(189, 210, 223);
  color: #142945;
  font-weight: 500;
}

.container {
  min-height: 100lvh;
  margin-left: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(189, 210, 223);
}

.container .alunos {
  padding-top: 140px;
  width: 80%;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container hr {
  margin-bottom: 30px;
  border: none;
  background-color: #142945;
  height: 2px;
}

.container .barra-wrap {
  margin: 40px 0 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container .barra-wrap input {
  width: 70%;
  background-color: #1429451c;
  border: 1px solid #142945;
}

.container .barra-wrap input::placeholder {
  color: #000000e6;
}

.container .barra-wrap .add {
  display: flex;
  padding: 10px;
  background-color: #142d45;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.container .barra-wrap .add img {
  width: 60%;
}

.container .bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 33, 40, 0.525);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-row {
  display: flex;
  gap: 20px;
}

.card {
  width: 100%;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #142945;
  color: #fff;
  text-align: right;
  box-shadow: 1px 7px 68px -22px rgba(0, 0, 0, 0.519);
}

.card h2 {
  font-size: 4.2rem;
}

.card h3 {
  font-size: 1.3rem;
}

.card img {
  width: 140px;
}

.aviso {
  width: 100%;
  padding: 10px;
  display: none;
  position: absolute;
  top: 80px;
  font-weight: 600;
  justify-content: center;
  transition: all 2.8s;
  z-index: 1;
}

.aviso.sucesso {
  display: flex;
  background-color: #35b44e;
  color: #000;
}

.aviso.erro {
  display: flex;
  background-color: #b43535;
  color: #fff;
}

.formulario_aluno {
  width: 700px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 23, 36);
  box-shadow: 5px 10px 15px 4px rgba(21, 21, 21, 0.3);
  border-radius: 5px;
}

.formulario_aluno h3 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: white;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  padding: 8px;
  border: none;
  border-radius: 2px;
  outline: none;
}

form .emails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .emails .row {
  display: flex;
  gap: 10px;
}

form .emails .row input {
  width: 100%;
}

form a {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  background-color: #356cb4;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

form a:hover {
  background-color: #4f8ee0;
}

button {
  padding: 10px;
  background-color: #356cb4;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  background-color: #4f8ee0;
}
