<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Projeto</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a onclick="abrirHam()"><img src="/static/images/hamburger.svg" alt="Menu Hamburger" /></a>
          </li>
        </ul>
        <div class="logo">
          <a href="#">Projeto</a>
        </div>
      </nav>
    </header>
    <main>
      <aside id="aside">
        <nav>
          <ul>
            <li><a href="/" class="active dashboard_icone">Dashboard</a></li>
            <li><a href="/alunos" class="aluno_icone">Alunos</a></li>
            <li><a href="/professores" class="professor_icone">Professores</a></li>
            <li><a href="/disciplinas" class="disciplina_icone">Disciplinas</a></li>
          </ul>
        </nav>
      </aside>
      <div class="container dashboard_container">
        <div class="dashboard">
          <h2>Dashboard</h2>
          <hr />
          <div class="cards">
            <div class="card-row">
              <div class="card card_al">
                <a><img src="/static/images/aluno_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Alunos</h3>
                  <h2>{{alunos}}</h2>
                </div>
              </div>
              <div class="card card_pr">
                <a><img src="/static/images/professor_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Professores</h3>
                  <h2>{{professores}}</h2>
                </div>
              </div>
              <div class="card card_dc">
                <a><img src="/static/images/disciplina_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Disciplinas</h3>
                  <h2>{{disciplinas}}</h2>
                </div>
              </div>
              <div class="card card_pr">
                <a><img src="/static/images/dinheiro_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Créditos (R$)</h3>
                  <h2>{{creditos}}</h2>
                </div>
              </div>
            </div>
            <div class="card-row">
              <div class="card card-grafico">
                <div class="card-wrap">
                  <h3>Alunos em Disciplinas</h3>
                </div>
                <div id="grafico_pizza_aluno-disciplina" data-json='{"qtdTotal":{{alunos}}, "qtdDisc": {{alunos_disciplinas}}}' />
              </div>
            </div>
            <div class="card card-grafico">
              <div class="card-wrap">
                <h3>Professores em Disciplinas</h3>
              </div>
              <div id="grafico_pizza_professor-disciplina" data-json='{"qtdTotal":{{professores}}, "qtdDisc": {{professores_disciplinas}}}'></div>
            </div>
          </div>
          <div class="card-row">
            <div class="card card-grafico">
              <div class="card-wrap">
                <h3>Gráfico</h3>
              </div>
              <div id="creditos"></div>
            </div>
            <div class="card card-grafico">
              <div class="card-wrap">
                <h3>Gráfico</h3>
              </div>
              <div id="creditos"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
