<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Projeto</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a onclick="abrirHam()"><img src="/static/images/hamburger.svg" alt="Menu Hamburger" /></a>
          </li>
        </ul>
        <div class="logo">
          <a href="#">Projeto</a>
        </div>
      </nav>
    </header>
    <main>
      <aside id="aside">
        <nav>
          <ul>
            <li><a href="/" class="dashboard_icone">Dashboard</a></li>
            <li><a href="/alunos" class="aluno_icone">Alunos</a></li>
            <li><a href="/professores" class="professor_icone">Professores</a></li>
            <li><a href="/disciplinas" class="active disciplina_icone">Disciplinas</a></li>
          </ul>
        </nav>
      </aside>
      <div class="container dashboard_container">
        <div class="disciplinas">
          <h2>Disciplinas Cadastradas</h2>
          <hr />
          <div class="cards">
            <div class="card-row">
              <div class="card card_disciplina card_dc">
                <a><img src="/static/images/disciplina_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Disciplinas</h3>
                  <h2>{{qtd_disciplinas}}</h2>
                </div>
              </div>

              <div class="card card_disciplina card_al">
                <a><img src="/static/images/aluno_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Alunos em Disciplinas</h3>
                  <h2>{{qtd_aluno_disciplina}}</h2>
                </div>
              </div>
              <div class="card card_disciplina card_pr">
                <a><img src="/static/images/professor_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h3>Professores em Disciplinas</h3>
                  <h2>{{qtd_professor_disciplina}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="barra-wrap">
            <input type="search" onkeyup="pesquisar()" name="pesquisa" id="pesquisa" placeholder="Pesquisar disciplina" />
            <a class="add" onclick="abrir('bg-1')">Adicionar Disciplina</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Disciplina</th>
                <th>Créditos (R$)</th>
              </tr>
            </thead>
            <tbody>
              {% if disciplinas %} {%for disciplina in disciplinas %}
              <tr>
                <td>{{disciplina[0]}}</td>
                <td>{{disciplina[1]}}</td>
                <td>{{disciplina[2]}}</td>
                <td class="deletar"><img src="/static/images/deletar.svg" alt="" data-name="{{disciplina[0]}}" onclick="excluirDado(this, '/excluir_disciplina')" /></td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
          <h3>Professores Lecionando</h3>
          <table>
            <thead>
              <tr>
                <th>Professor</th>
                <th>Disciplina</th>
              </tr>
            </thead>
            <tbody>
              {% if professores_disciplinas %} {%for professor_disciplina in professores_disciplinas %}
              <tr>
                <td>{{professor_disciplina[0]}}</td>
                <td>{{professor_disciplina[1]}}</td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
          <h3>Alunos Matriculados</h3>
          <table>
            <thead>
              <tr>
                <th>Aluno</th>
                <th>Disciplina</th>
              </tr>
            </thead>
            <tbody>
              {% if alunos_disciplinas %} {%for aluno_disciplina in alunos_disciplinas %}
              <tr>
                <td>{{aluno_disciplina[0]}}</td>
                <td>{{aluno_disciplina[1]}}</td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
        <div class="bg" id="bg-1" onclick="fechar('bg-1')">
          <span class="aviso" id="aviso"></span>
          <div class="formulario" onclick="event.stopPropagation()">
            <h3>Cadastro de Disciplina</h3>
            <form action="POST">
              <label for="disciplina">Disciplina</label>
              <input type="text" name="disciplina" id="nome" placeholder="Ex.: SQL" />
              <label for="credito">Créditos</label>
              <input type="number" name="credito" id="creditos" placeholder="Ex.: 400" />
              <button type="button" onclick="cadastrar()">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/js/geral.js"></script>
    <script src="/static/js/cadastro_disciplina.js"></script>
  </body>
</html>
