<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Projeto</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a onclick="abrirHam()"><img src="/static/images/hamburger.svg" alt="Menu Hamburger" /></a>
          </li>
        </ul>
        <div class="logo">
          <a href="#">Projeto</a>
        </div>
      </nav>
    </header>
    <main>
      <aside id="aside">
        <nav>
          <ul>
            <li><a href="/" class="dashboard_icone">Dashboard</a></li>
            <li><a href="/alunos" class="aluno_icone">Alunos</a></li>
            <li><a href="/professores" class="active professor_icone">Professores</a></li>
            <li><a href="/disciplinas" class="disciplina_icone">Disciplinas</a></li>
          </ul>
        </nav>
      </aside>
      <div class="container">
        <div class="professores">
          <h2>Professores Cadastrados</h2>
          <hr />
          <div class="cards">
            <div class="card-row">
              <div class="card card_pr">
                <a><img src="/static/images/professor_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h2>{{qtd_professor}}</h2>
                  <h3>Professores</h3>
                </div>
              </div>
              <div class="card card_dc">
                <a><img src="/static/images/disciplina_dash.svg" alt="" /></a>
                <div class="card-wrap">
                  <h2>{{qtd_professor_disciplina}}</h2>
                  <h3>Professores em Disciplinas</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="barra-wrap">
            <input type="search" onkeyup="pesquisar()" name="pesquisa" id="pesquisa" placeholder="Pesquisar professor" />
            <div class="botoes">
              <a class="add" onclick="abrir('bg-1')">Cadastrar Professor</a>
              <a class="add" onclick="abrir('bg-2')">Cadastrar em Disciplina</a>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Professor</th>
                <th>Endereço</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              {% if professores %} {%for professor in professores %}
              <tr>
                <td>{{professor[0]}}</td>
                <td>{{professor[1]}}</td>
                <td>{{professor[2]}}</td>
                <td>{{professor[3]}}</td>
                <td class="deletar"><img src="/static/images/deletar.svg" alt="" data-name="{{professor[0]}}" onclick="excluirDado(this, '/excluir_professor')" /></td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
        <span class="aviso" id="aviso"></span>
        <div class="bg" id="bg-1" onclick="fechar('bg-1')">
          <div class="formulario" onclick="event.stopPropagation()">
            <h3>Cadastro de Professor</h3>
            <form action="POST">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" placeholder="Ex.: João" />
              <label for="endereco">Endereço</label>
              <input type="text" id="endereco" name="endereco" placeholder="Ex.: Rua do João" />
              <div class="emails" id="emails">
                <label for="email">Email</label>
                <div class="row">
                  <input type="email" class="email" name="e-mail" placeholder="Ex.: joao@email.com" />
                  <a onclick="addEmail(this)" id="btn_email"><img src="/static/images/add.svg" alt="" /></a>
                </div>
              </div>
              <button type="button" onclick="cadastrar()">Enviar</button>
            </form>
          </div>
        </div>

        <div class="bg" id="bg-2" onclick="fechar('bg-2')">
          <div class="formulario" onclick="event.stopPropagation()">
            <h3>Cadastro de Professor em Disciplina</h3>
            <form action="POST">
              <label for="professor">Professor</label>
              <select name="professor" id="professor-select">
                <option disabled selected>Insira o professor</option>
                {% for professor in professores %}
                <option value="{{professor[0]}}">{{professor[1]}}</option>
                {% endfor %}
              </select>
              <label for="disciplina">Disciplina</label>
              <select name="disciplina" id="disciplina-select">
                <option disabled selected>Insira a disciplina</option>
                {% for disciplina in disciplinas %}
                <option value="{{disciplina[0]}}">{{disciplina[1]}}</option>
                {% endfor %}
              </select>
              <button type="button" onclick="cadastrarProfessorDisciplina()">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/js/geral.js"></script>
    <script src="/static/js/cadastro_professor.js"></script>
  </body>
</html>
